.logo{
    height: 75px;
    width: 75px;
    background-color: blueviolet;
    border-radius: 50%;
    background-image: url("C:\Users\M. Arisa\Downloads\Jae.html");
    background-size: contain;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

